:root {
    --font-color: #fdf8ffc2;
    --font-type: 'Source Code Pro', monospace;
}

body {
    color: var(--font-color);
}

.Weather {
    margin: 40px 0px 0px 0px;
}

.Weather img {
    position: relative; bottom: 15px;
}
 
.Degree {
    font-size: 68px; 
    font-weight: 300;
    padding: 0px 0px 0px 5px; 
    line-height: 5px;
}
  
.Units {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    bottom: 32px;
}

.Units a {
    color: rgb(71, 41, 129);
    text-decoration: none;
    padding: 0px 4px 0px 4px;
}
  
.WeatherDetails {
    font-family: var(--font-type);
}

.LocalandTime h2 {
    font-size: 34px;   
    font-weight: 400;
    line-height: 36px;
}

.MoreWeatherDetails ul {
   padding: 0px;
}

.MoreWeatherDetails li {
    font-size: 20px; 
    line-height: 28px;
    font-weight: 500;
    list-style: none; 
}

.WeatherDescription {
    line-height: 30px;  
}